@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Exo:ital,wght@0,100..900;1,100..900&family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: dogwood;
    src: url("../Assets/font-family/Dogwood3.ttf");
}

:root {
    --font-family-Exo: "Montserrat", sans-serif;
    --font-family-Maven: "Maven Pro", sans-serif;
    --font-family-Ubuntu: "Ubuntu", sans-serif;
    --font-family-Montserrat: "Montserrat", sans-serif;
    --font-family-Jakarta: "Sansation", sans-serif;
    --font-family-kanit: "Kanit", serif;
    --font-family-Dosis: "Dosis", sans-serif;
    --color1: #014637;
    --product_color: #761114;
    /* --color1: #19335a; */

    --para-color: #545454;
    --border-col: #1818182f;
    --bg-color: #1A1A1A;
    --color-round: rgba(220, 220, 220, 0.966);
}

body {
    background-color: rgb(255, 255, 255) !important;
    box-sizing: border-box !important;
    margin: 0% 0% !important;
    padding: 0% !important;
    font-family: var(--font-family-Exo) !important;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 9999;
    backdrop-filter: blur(7px);
    transition: opacity 0.9s ease, top 0.6s ease;
}

.main_card img {
    background-size: cover;
    object-fit: cover;
    width: 100%;
    background-position: center !important;
    height: 60vh !important;
    transition: 0.5s ease-in-out !important;
}

.glass-card {
    transition: 0.5s ease-in-out !important;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: absolute !important;
    bottom: -30% !important;
    background-color: rgb(255, 255, 255) !important;
    border: 1px solid rgba(255, 255, 255, 0.233);
    color: var(--bg-color) !important;

    border-radius: 20px !important;
}

@media (max-width:992px) {
    .glass-card {
        position: static !important;
        bottom: 0% !important;
        margin: 0% 0% !important;
        color: var(--bg-color) !important;
    }
    .sticky_query {
   
    bottom: 10% !important;
}
}

@media (max-width:576px) {
    .responsive-font {
        font-size: 15px !important;
    }
}

.product_col {
    color: var(--product_color) !important;
}

.main_prodcut_page_cards {

    height: max-content !important;
    transition: 0.6s ease-in-out !important;
}

.inqbtn {
    background-color: transparent !important;
    border-radius: 40px !important;
}

.under_line {
    background-color: #002b2211;
    text-transform: uppercase !important;
    border: 1px dashed var(--color1);
    padding: 10px 15px !important;
    border-radius: 40px;
    font-weight: 600 !important;
    width: max-content !important;
}

.bg_light {
    background-color: #002b22cb;

}

.text-white1 {
    color: rgba(230, 230, 230, 0.842) !important;
}

img {
    border-radius: 20px;
}

.text-dark1 {
    color: var(--bg-color) !important;
}

.about_img1 {
    height: 90vh !important;
    background-position: left;
}

.num {
    font-family: var(--font-family-play) !important;
}

/* MEDIA QUIRES */
.sdsd {
    display: block;
}

@media (max-width:992px) {
    .about_img1 {
        height: 70vh !important;
    }

    .sdsd {
        display: none !important;
    }

    .float-en {
        position: absolute;
        right: 2%;

    }

}

.head-1 {
    font-weight: 600 !important;
}



.topoff .nav-item .nav-link {
    text-transform: capitalize;
    color: var(--bg-color) !important;
    font-weight: 600;
    font-size: 22px !important;
}



.lets-talk-btn-hover {
    position: absolute;
    top: 0%;
    height: 0%;
    width: 0%;
    background-color: #811f10 !important;
    z-index: -1;
    border-radius: 20px;
    height: 100%;

    right: 0%;
    transition: 0.5s ease-in-out !important;
}

.top-nav-heading {
    opacity: 0.1;
    position: absolute;
    bottom: 90px;
}

.top-header-icon>a {
    color: var(--bg-color) !important;
    background-color: white;
    padding: 5px 10px;
    z-index: 11;
    border-radius: 50%;
    font-size: 22px !important;
}

.top-header-icon {
    position: absolute;
    bottom: 90px;
    z-index: 11;

}

.lets-talk-btn:hover .lets-talk-btn-hover {
    left: 0%;
    height: 100%;
    width: 100%;
}

.lets-talk-btn {
    z-index: 1;
    position: relative;
    letter-spacing: 1px;
    border-radius: 20px;

    border: 1px solid white;
    background-color: transparent;
}

@media (max-width:576px) {
    .float-en {
        position: absolute;
        right: 2%;

    }

}

/* MEDIA QUIRES */
.testi_card img {
    height: 240px;
    margin: 4px 0px;
}

.large_nav {
    position: absolute !important;
    width: 98% !important;
    top: 2%;
    margin: 0% 1% !important;

    border-radius: 50px !important;
    padding: 0%;
    background-color: transparent !important;
    background-color: rgb(255, 255, 255) !important;
    backdrop-filter: blur(20px);
    z-index: 1111 !important;
    transition: 0.4s ease-in-out !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.nav-item>a {
    font-weight: 400 !important;
}


#topbtn {
    font-size: 24px !important;

}

iframe {
    height: 70vh !important;
}

.main1 {
    position: relative;
    min-height: 100svh !important;
    margin: 0px;
    padding: 0px;


}

.sw-image {
    height: 100px !important;
    width: 250px;
}


.banner-img {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    top: -2%;
    border-radius: 20px;
    position: absolute;
}

.main1 {
    height: 10vh !important;
}

.topbtnfix {
    color: white;
    padding: 15px 10px !important;
    position: fixed;
    bottom: 10px;
    width: 50px;
    text-align: center !important;
    right: 10px;
    z-index: 22222;
    border-radius: 50%;
    color: var(--color1) !important;
    background-color: white;
    border: 2px solid var(--color1);
    transition: 0.9s ease-in-out !important;

}

.gth {
    text-align: justify !important;

}

.over {
    text-align: justify !important;

}

.text-jus {
    text-align: justify !important;
}

/* NAV-HOVER */
.navhover {
    /* background-color: #bb9108 !important; */
    position: absolute !important;
    top: 0px;
    width: 100%;
    color: var(--golden-color) !important;
    z-index: -22 !important;
    bottom: 0px;
    transition: 0.5s ease-in-out !important;

    border-bottom: 2px solid var(--golden-color);
}

.nav-item:hover .navhover {
    height: 100%;
    /* background-color: var(--color1); */
    top: 0px !important;
    width: 100% !important;
}

.nav-item {
    position: relative;
    margin: 0px 6px;
}

/* NAV-HOVER */


.bg {
    background-color: var(--color1) !important;
}



.btn-red {

    border-radius: 50% !important;
    border: 1px solid var(--color1);
    color: var(--color1);
    padding: 6px 10px;
    font-size: 18px !important;
    background-color: transparent;
    z-index: 92030 !important;
    transition: 0.5s ease-in-out !important;
}

.btn-red:hover {
    background-color: var(--bg-color);
    color: white;
}

@media (max-width:992px) {
    .btn-red {

        font-size: 16px !important;
        z-index: 92030 !important;

        border-radius: 10% !important;
    }
}

.modal_info {
    margin: 0% 5% !important;
    transition: 0.5s ease-in-out;
    top: 15% !important;
    overflow: hidden !important;
    transition: 0.5s ease-in-out !important;

}

.modal_info_image {
    height: 75vh !important;
    border-radius: 20px !important;

}

.modal_content_info {
    transition: 0.5s ease-in-out !important;
    overflow: hidden !important;
    background-color: rgb(255, 255, 255) !important;
    z-index: 1111111111 !important;
    border-radius: 20px !important;
    width: 89vw !important;
    height: 83% !important;
    /* margin: 0% 5% !important; */
}

.modal_inquiry {
    position: fixed;

    z-index: 11111 !important;
    height: 100vh !important;
    background-color: rgba(224, 224, 224, 0);
    backdrop-filter: blur(5px);
}

.modal_dialog_inquiry {
    top: 10% !important;
}

.arr {
    fill: var(--color1) !important;
}

.btn_moda_ifno {
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: var(--color1) !important;
    color: white;
}

.rounded_4 {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;

}

.image-1 {
    /* border-radius: 250px; */
    /* padding-left: 10px; */
    min-height: 370px;
    -o-object-fit: cover;
    object-fit: cover;
}

.color-red {
    background-color: var(--color1) !important;
}

.ol7 {
    border: 1px solid rgb(255, 255, 255);
    /* border-radius: 250px; */
}





@media (min-width:992px) {
    .image-1 {
        border-radius: 250px !important;
        /* padding-left: 10px; */
        min-height: 370px;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.image-1 {
    border-radius: 20px;

    min-height: 370px;
    -o-object-fit: cover;
    object-fit: cover;
}

@media (max-width:992px) {
    .banner-btn {
        display: none !important;
        border-radius: 0% !important;
        padding: 5px !important;
    }
}

.banner-btn1 {
    border-radius: 5px;
    border: none !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 200px;
    perspective: 1000px !important;
    background-color: transparent;
    position: relative !important;
    overflow: hidden;
}

swiper-container>swiper-slide>img {
    height: 80px !important;
    object-fit: cover !important;
    width: 400px !important;
    background-size: cover !important;
}

.d_nonoe_Servcie {
    display: none;
}

.banner-btn,
.banner-btn-hover {
    position: absolute !important;
    width: 100%;
    height: 100px;
    font-size: 16px !important;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.4s ease-in-out;
    backface-visibility: hidden;
    /* Prevent flickering */
}

.banner-btn {
    transform-origin: bottom;
}

.banner-btn-hover {
    transform: rotateX(90deg);
    /* Initially hidden */
    transform-origin: top;
}

.banner-btn1:hover .banner-btn {
    transform: rotateX(90deg);
    transition-delay: 0s;
    /* Rotate out immediately */
}

.banner-btn1:hover .banner-btn-hover {
    transform: rotateX(0deg);
    transition-delay: 0.2s;
    /* Show after 0.2s delay */
}

.icon-fixeds {
    border: 1px solid var(--color1) !important;
    color: var(--color1) !important;
}

.offcanvas {
    height: 100vh !important;
    z-index: 1111 !important;
}



.hoverbanner {
    transition: 0.7s ease-in-out !important;

    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    left: 0%;
    z-index: 1;

}

.arrsvg {
    position: absolute !important;
    fill: white !important;
    bottom: 30% !important;
}

a:hover,
button:hover {
    cursor: grabbing !important;
}

.pb-g {
    font-size: 14px;
    background-color: rgb(220, 219, 219);
}

.para-color {

    color: var(--para-color) !important;
}

.ofc1 {
    transition: 0.7s ease-in-out !important;
    width: 75% !important;
}

.fixo {
    top: 0%;
    height: 100vh;
    width: 2px;
    z-index: -1;
    background-color: var(--color-round) !important;
    position: fixed;
    left: 4.6%;
}

.fixo1 {
    top: 0%;
    height: 100vh;
    width: 2px;
    z-index: -1;
    background-color: var(--color-round) !important;
    position: fixed;
    right: 4.6%;
}

.top-ani {
    height: 80px;
    width: 1px;
    position: fixed;
    background-color: var(--color1);
    animation: 0.4s linear infinite top;
    /* Animation applied here */
}

@keyframes top {
    from {
        top: 0%;
        /* Start position */
    }

    to {
        top: 100%;
        /* End position */
    }
}

.roun {
    border: 1px solid var(--color-round) !important;
}

.who {
    background-color: var(--bg-color);

}

.gth>div>img {
    object-fit: cover;
    background-size: cover;
    height: 400px !important;
    border-radius: 5%;
}

.s11 {
    fill: #1A1A1A !important;
}

.btn1 {
    background-color: transparent;
    /* color: white; */
    font-size: 15px;
    font-weight: 300;
    outline: none;
    border: none;
    z-index: 111;
    position: relative !important;
}

.s1 {

    fill: #cccccc2a !important;
}

.under-hover {
    position: absolute;
    border-bottom: 1px solid var(--color1) !important;
    bottom: 0px;
    width: 10%;
    height: 0%;
    z-index: -1;
    transition: 0.6s ease-in-out !important;
}

.btn1:hover .under-hover {
    width: 100%;

    height: 100%;
}

.klo {
    background: rgb(25, 23, 23);
    background: linear-gradient(90deg, rgba(25, 23, 23, 1) 1%, rgba(22, 22, 22, 1) 58%);
    border: 1px solid var(--para-color);
    border-radius: 10px;
}

.bg1 {
    background-color: #252525 !important;
}

select {
    color: var(--para-color) !important;
}





.text-truncate-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.prodcut_page_cards p {
    font-size: 14px !important;
    text-align: justify !important;
}

.image_prodct_page_card {
    height: 75vh !important;
    object-fit: cover !important;
    background-size: cover !important;
    background-position: center !important;
}

@media (max-width:992px) {
    .image_prodct_page_card {
        height: 40vh !important;
        width: 100% !important;
    }
}

.navfix {
    z-index: 1111 !important;
    position: fixed !important;
    top: 0.4% !important;
    transition: 0.4s ease-in-out !important;
    background-color: rgb(255, 255, 255) !important;
    backdrop-filter: blur(130px) !important;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.div_1_blur {
    border: 1px solid rgba(255, 255, 255, 0.075) !important;
    background-color: rgba(233, 233, 233, 0.178) !important;
    backdrop-filter: blur(8px) !important;
    border-radius: 10px;
}

#navunder {
    margin: 0% 1.5% !important;
    width: 1px;
    position: absolute;
    bottom: -2%;
    /* left: 0px; */
    /* border-radius: 5px; */
    top: 2%;
    z-index: -1;
    border-bottom: 2px solid var(--color1);
}

#home {
    transition: 0.5s ease-in-out;
}

.ser-col-1 {
    transition: 0.9s ease-in-out;

    border-top: 1px solid var(--border-col) !important;
    border-bottom: 1px solid var(--border-col) !important;

}

.ser-col-1:hover {
    cursor: grab;
    transition: 0.7s ease-in-out !important;
    background-color: #47474721;
}

.pro>span:hover {
    color: white;
    background-color: #474747;
}

.pro>span {
    transition: 0.6s ease-in-out !important;
    border-radius: 7px;
    padding: 5px 15px;
    transition: 0.8s ease-in !important;
    font-size: 14px !important;
    border: 1px solid #47474762;
    /* background-color: var(--para-color); */
}

.course-det {
    transition: 0.7s ease-in-out !important;
    display: none;
}

.ser-col-1:hover .course-det {
    transition: 0.7s ease-in-out !important;
    display: block;
}

.offcanvas-top1 {
    height: 100vh !important;
    width: 80% !important;
    animation: top 0.1s linear !important;

}

@media (max-width:992px) {}

.ser {
    background-color: var(--bg-color);
}

.i1 {
    object-fit: cover;
    background-size: cover;
    border-radius: 120px 0 120px 0;
}

.i2 {
    border-radius: 150px 150px 250px 0;
    object-fit: cover;
    background-size: cover;
}

.i3 {
    object-fit: cover;
    background-size: cover;
    border-radius: 150px 150px 250px 0;
}

.i4 {
    object-fit: cover;
    background-size: cover;
    border-radius: 120px 0 120px 0;
}


/* SERIVCE-PAGES CSS */


footer {
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-color: var(--bg-color) !important;
}

.bottom-footer {
    border-top: 1px solid var(--para-color) !important;
    background-color: var(--border-col);
}

/* SERICE-PAGE CSS */
/* FOOTER START */
/* footer>div>div>div */
/* FOOTER END */
.cardss>div>div:hover .cardss>div>div>h4 {
    font-weight: normal;
}

.cardss1>div {
    z-index: 2 !important;

    position: relative !important;
    transition: 0.9s ease-in-out !important;
}

.col-22 {
    border-right: 1px solid white !important;
}



.cardss-hover {
    transition: 0.9s ease-in-out !important;
    z-index: -1;
    background-color: var(--bg-color);
    height: 100%;
    width: 0%;
    top: 0%;
    position: absolute !important;
}

.cardss>div>div>h4 {
    transition: 0.7s ease-in-out !important;
}



.cardss>div>div>div>i {
    padding: 15px;
    font-size: 28px;
    border-radius: 0% !important;
    color: white !important;

}

.set-btn {
    font-weight: 600 !important;
    color: var(--bg-color) !important;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid var(--border-col);
    background-color: white;
    position: relative;
    z-index: 100 !important;


}

.set-btn:hover {
    color: var(--bg-color) !important;
}

.set-btn:hover .set-btn-hover {
    width: 100% !important;
    z-index: 200 !important;
    color: white !important;
}

.set-btn-hover>a>i {
    color: white !important;
}

.set-btn-hover {
    z-index: 20 !important;
    transition: 0.9s ease-in-out !important;
    top: 0%;
    left: 0%;
    height: 100%;

    border-radius: 20px !important;
    width: 0%;
    background-color: #811f10b0 !important;
    position: absolute !important;
}

.col-22 {
    margin: 0px;
    padding: 0px;
    background-color: var(--color1);
}

.fa-circle {
    font-size: 6px !important;
}

.paraa-1 {
    text-align: justify;
    /* text-transform: capitalize; */
    font-weight: 600;
    font-size: 15px !important;
}

.strk {
    transition: 1.6 ease-in-out !important;
    color: var(--bg-color);
    font-weight: 600 !important;
    font-size: 42px !important;
    text-align: center;
}

@media (max-width:992px) {
    .strk {
        font-size: 42px !important;
    }
}

#topbtn {

    text-decoration: none !important;
    font-size: 14px !important;
    font-family: var(--font-family-play);
}

/*  */

.slide-pos {
    transform: rotateX(-90deg);
    transition: 0.6s ease-in-out !important;

    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    padding: 5px 0px !important;
    width: 80%;

    height: 8%;
    left: 10%;
    position: absolute !important;
    bottom: 10px !important;
    color: white !important;
    background-color: var(--color1) !important;
}

/*  */

.borders {
    border: 1px solid var(--para-color) !important;
}


.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-53 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: var(--color1);
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#fff);
    padding: 0;
}

.btn-53:disabled {
    cursor: default;
}

.btn-53:-moz-focusring {
    outline: auto;
}

.btn-53 svg {
    display: block;
    /* vertical-align: middle; */
}

.btn-53 [hidden] {
    display: none;
}

.btn-53 {
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    position: relative;
}

.btn-53 .original {
    background: #fff;
    color: #000;
    display: grid;
    inset: 0;
    place-content: center;
    position: absolute;
    transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
    transform: translateY(100%);
}

.btn-53 .letters {
    display: inline-flex;
}

.btn-53 span {
    opacity: 0;
    transform: translateY(-15px);
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
    transform: translateY(15px);
}

.btn-53:hover span {
    opacity: 1;
    transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
    transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
    transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
    transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
    transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
    transition-delay: 0.5s;
}


.icon-hover {
    color: transparent !important;
    position: absolute !important;
    width: 100%;
    height: 0% !important;
    bottom: 0%;
    transition: 0.4s ease-in-out !important;
    background-color: var(--color1);
    font-size: 24px !important;
    z-index: 111;
    padding-top: 6px;
    /* padding-top: 20px !important; */
    left: 0px;
    border: none !important;
    /* padding-top: 12px; */

}

.large_nav .dropdown {
    transition: 0.5s ease-in-out !important;
    position: relative !important;
    z-index: 111111 !important;

}

.large_nav .dropdown-menu {
    z-index: 934222 !important;
    padding: 10px !important;
    margin: 0% 8% !important;
    left: 0% !important;
    position: fixed !important;
    transition: 0.1s ease-in-out !important;
    width: 85vw !important;
    display: none !important;

}

.large_nav .dropdown-menu .dropdown-submenu {
    padding: 10px;
}

.dropdown-submenu .btn {
    padding: 0px 4px !important;
    text-align: left !important;
    font-size: 18px !important;
    border-radius: 0%;
}

.navbar .dropdown-menu .dropdown-item {
    transition: 0.2s ease-in-out !important;
    color: #999898 !important;
    font-size: 14px !important;



}

.position_sticky {
    position: sticky;
    left: 0;
    z-index: 111;
    background-color: transparent;
    top: 20% !important;
    height: max-content !important;
      border-radius: 15px;
}

@media (max-width:992px) {
    .position_sticky {
        height: auto !important;
    }
}
.left_side_div{
    position: relative !important;
}
.dfd>div {
    padding: 10px;
    border-radius: 15px;
    border: 0.5px solid #19335a17;
}

.dd img {
    background-color: transparent !important;
    height: 60vh !important;
    border: 0px solid white !important;
    box-shadow: none !important;
}

.dd .card-body {
    color: white !important;
    background-color: rgba(134, 132, 132, 0.158) !important;
    backdrop-filter: blur(30px);
    border-radius: 15px !important;
    border: 1px solid rgba(255, 255, 255, 0.438);

}

.who1 {
    margin: 0%;
    padding: 0%;
    background-color: var(--bg-color) !important;
}

.navbar .dropdown-menu>li>.dropdown-item:hover {
    background-color: var(--color1);
    color: white !important;
}

.large_nav .dropdown:hover .dropdown-menu {
    z-index: 2111111 !important;
    display: inline-block !important;
    padding-bottom: 30px;
    z-index: 31111 !important;

}



.nav-item>.nav-link {
    z-index: 31111 !important;
    color: var(--bg-color) !important;
}

.nav-item>.nav-link:hover {
    z-index: 31111 !important;

    color: var(--color1) !important;
}

.navhover {
    /* background-color: #bb9108 !important; */
    position: absolute !important;
    top: 0px;
    width: 0%;
    color: var(--color1) !important;
    z-index: -22 !important;
    bottom: 0px;

    transition: 0.5s ease-in-out !important;

    border-bottom: 2px solid var(--color1) !important;
}

.nav-item:hover .navhover {
    top: 0px !important;
    width: 100% !important;
}





.offcanvas-end {
    transition: 0.8s ease-in-out !important;
}

/* 
 PAGES CSS */

/* 
 PAGES CSS */

.head-2 {
    font-weight: bolder !important;
    font-family: var(--font-family-nexa) !important;
    transition: all 0.7s !important;
}



.col-org {
    color: var(--color1) !important;
}

/* @media (max-width:992px) {
    .phonenum {
        width: calc(60vw - 10%) !important;
    }

} */

.col-9> {
    font-family: var(--font-family-play) !important;
}

.cardsss {
    /* height: 140px; */
    transition: all 0.7s !important;
    border-radius: 10px;
    padding: 14px 10px;
    overflow: hidden !important;
    background-color: #252525;
}

.tags>p {
    text-transform: capitalize;
    font-size: 14px;
    padding: 5px 17px;
    font-weight: 700 !important;
    border: 1px solid var(--para-color);
    border-radius: 30px;
    background-color: var(--bg-color);
}

.ex-cion {
    transition: all 0.9s !important;
    left: 0%;
    height: 100%;
    top: 0%;
    background-color: var(--color1);
    width: 0%;
    border-radius: 30px;
    color: white !important;
    overflow: hidden;
    position: absolute;
}

.cardsss:hover .ex-cion {
    width: 100%;

    color: white !important;
}



@media (min-width:992px) {
    .sticky-element {
        position: sticky !important;
        top: 0% !important;

        height: max-content !important;
        z-index: 10;
    }
}

.product-img {
    position: relative;
}

/* .line {
    transition: 10.8s all !important;
    position: absolute;
    top: 0%;
    background-color: rgba(255, 255, 255, 0.253);
    height: 85%;
    width: 10%;
    transform: rotate(10deg);
    left: 0%;
    animation: moveline 1s linear infinite;
}

@keyframes moveline {
    0% {
        left: 0%;
    }
    100% {
        left: 90%; 
    }
} */

.ser-img-1 {
    object-fit: cover !important;
    background-position: center !important;
    background-size: cover !important;
    height: 250px !important;
}

.border-radious {
    border-radius: 20px !important;
}

/* ACCORDIAN */
.accordion {
    background-color: var(--bg-color);
    color: white;
    margin: 2px 0px;
    border-radius: 20px;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    /* font-size: 15px; */
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: var(--color1);
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* ACCORDIAN */

.ser-img-2 {
    background-position: left !important;
    object-fit: cover;
    background-size: cover;
    height: 60vh !important;
}

/* date picker */
.fo::before {
    content: "Select a date" !important;
    /* Custom placeholder text */
    position: absolute !important;
    top: 10px;
    /* Adjust according to your design */
    left: 10px;
    color: #aaa;
    pointer-events: none;
    font-size: 14px;
}

.fo:focus::before {
    content: "" !important;

}

.fo:valid::before {
    content: "" !important;

}

/* CHILD DROPDOWN CSS START */
.navbar .dropdown-menu1 {
    background-color: white;
    transition: 0.2s ease-in-out;
}

.navbar .sub-dropdown-menu:hover {
    display: block;
}

.navbar .sub-dropdown-menu {
    display: none;
    transition: 0.5s ease-in-out;
}



/* Position the Child Dropdown */
.navbar .dropdown-submenu {
    transition: 0.9s ease-in-out;
    position: relative;

}

.navbar .dropdown-menu1>li>.dropdown-item:hover {
    background-color: var(--color1) !important;
    color: white !important;
}

.large_nav .dropdown-menu {
    display: block;
    z-index: 21111 !important;
}


.navbar .dropdown-submenu:hover .child-dropdown {
    /* display: block; */
    transition: 0.6s ease-in-out !important;

}

.navbar .child-dropdown .dropdown-item {
    padding: 5px 5px;
    font-size: 15px;
    font-weight: 400 !important;
    transition: 0.6s ease-in-out !important;

}

/* CHILD DROPDOWN CSS END */


.z-1 {
    z-index: -1;
}

.home_new {
    width: 98%;
    position: relative;
    top: 0% !important;
    border-radius: 30px;
    height: 98.5vh !important;
    /* background-color: rgba(7, 5, 5, 0.402) !important; */
}

@media (max-width:576px) {
    .home_new {
        height: 80vh !important;
        width: 99% !important;
    }

    .banner-img_new {
        width: 80%;
        background-position: left !important;
    }

    .large_nav {
        width: 96% !important;
        margin: 0% 2% !important;
    }
}

.banner-img_new {
    border-radius: 30px;
    margin: 0% 2% !important;
    padding: 0px !important;
    width: 99% !important;
    height: 100% !important;
    z-index: -1;
    top: -2% !important;
    background-color: rgba(0, 0, 0, 0.402) !important;
}

/* .banner-img_new{
    height: 100%;
 } */
img {
    background-size: cover !important;
    background-position: center !important;
    object-fit: cover !important;
}

.home {
    position: relative;
    /* margin: 0% 1% !important; */
    padding: 0px !important;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.402); */
    /* background-position: right top; */
    background-size: cover;
    object-fit: cover;
    top: -5% !important;
    position: relative;
    width: 99.5% !important;

}

.text-eni {
    position: relative;
    width: fit-content;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    color: transparent !important;
}

.text-ani-child {
    position: absolute;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    height: 90%;
    color: white;
    border-right: 2px solid white;
    animation: move 5s linear infinite;
}

@keyframes move {
    0% {
        width: 20%;
    }

    100% {
        /* color: white; */
        width: 100%;
    }
}



/*  */
.fill-white {
    fill: white !important;
}

.i22 {
    background-position: center;
    object-fit: cover;
    background-size: cover;
    height: 250px;
    z-index: 1;
}

.banner_class {
    position: absolute;
    border-radius: 30px;
    margin: 0% 2% !important;
    padding: 0px !important;
    width: 99% !important;
    height: 100% !important;
    z-index: -1;
    top: -2% !important;
    background-color: #00000077 !important;

}

.home>div h2 {
    padding: 5px 10px;
}

.blur {
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.094);
}

.btnhome {
    display: none !important;
    visibility: hidden !important;
    /* position: absolute; */
    bottom: 67px;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    color: white !important;
    left: 6.5%;
    border: 1px solid rgba(255, 255, 255, 0.253);
    background-color: var(--color1);
}




.iti {
    z-index: 122 !important;
    width: 100% !important;
    position: absolute;
    opacity: 1 !important;
    outline: none;
    background-color: var(--bg-color) !important;
}

.iti .iti__selected-dial-code {
    color: white !important;
}

.iti__country-list {
    overflow-x: hidden !important;
    width: 390% !important;
    background-color: var(--bg-color) !important;
    /* Apni background color value rakho */
    color: white !important;
    /* Text ko white karne ke liye */
}

/* MARQUEE START */

/* MARQUEE END */
.slider-container {
    width: 80%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

/* Slider wrapper */
.slider-wrapper {
    display: flex;
    transition: transform 1.5s ease-in-out;
}

/* Slider item styling */
.slider-item {

    border-radius: 8px;
    padding: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 99% 91%, 75% 91%, 75% 100%, 58% 91%, 0 90%);
    min-width: 100%;
    height: 350px;
    margin-top: 20px;
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 24px;

}

/* Navigation buttons styling */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color1) !important;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Optional: Add a little hover effect to buttons */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.custom-navigation>button:hover {
    background-color: var(--color1) !important;
}

.custom-navigation>button {
    padding: 15px;
    transition: 0.3s ease-in-out;
    border: none;
    color: white;
    border: 1px solid var(--para-color);
    background-color: transparent;
}

.contact_image {
    background-size: cover !important;
    object-fit: cover !important;
    height: 70vh !important;
}


/* MARQUE SLIDER START */
swiper-container {
    width: 95vw !important;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    box-shadow: none !important;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MARQUE SLIDER END */


.fa-location-arrow {
    background-color: white;
    /* background-color: var(--color1); */
    transition: 0.5s ease-in-out !important;
    color: rgb(75, 81, 87)
}

.service-card:hover .fa-location-arrow {
    background-color: var(--color1) !important;
    color: white !important;
    transform: rotate(50deg);

}

.service-car:hover .fa-location-arrow {
    background-color: var(--color1) !important;
    color: white !important;
    transform: rotate(50deg);

}
.btn_inquire{
    background-color: var(--color1) !important;
    padding: 10px 15px;
    border: 1px solid var(--color1);
    margin: 4% 0%;
    border-radius: 10px;

}
.sticky_query {
    height: max-content !important;
    position: sticky !important;
    right: 0% !important;
    bottom: 5% !important;
}

.collapse_quiry form input,
.collapse_quiry form select {
    font-size: 14px !important;
}

.collapse_quiry {
    background-color: white !important;
    border-radius: 15px;
    border: 1px solid rgb(221, 221, 221);
}

.collapse {
    transition: 1.2s ease-in-out !important;

}

.btn_inquire {
    transition: 1.2s ease-in-out !important;
}

/* ===================CONTACT US ======================== */


.contact-card {
    border-radius: 1rem;

    overflow: hidden;
}

.contact-card .sidebar-box {
    background-color: #f6f6f6;
    border-radius: 0.75rem;

    margin-bottom: 1rem;
}

.contact-card .sidebar-link {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
}

.contact-card .sidebar-link:hover {
    text-decoration: underline;
}



.contact-card .form-check label {
    font-size: 0.9rem;
}


.contact-card .right-col {
    background-color: #fdfdfd;

}

/*  */
.testimonail_div .div_1 {
    border-radius: 30px 0px 0px 30px !important;
}

.testimonail_div .div_2 {
    border-radius: 0px 30px 30px 0px !important;
}

.testimonail_div .swiper {
    width: 100%;
    max-width: 100%;
    padding-bottom: 50px !important;

}

.linear_line {
    border-left: 1px solid #47474759;

}

.test-img {
    height: 60px !important;
    border-radius: 50% !important;
}

.testimonail_div .swiper-slide {
    transition: 0.6s ease-in-out !important;
    font-size: 18px !important;
    border-radius: 10px;
    /* width: 45% !important; */
}

/* Pagination bullets */
.testimonail_div .swiper-pagination-bullet {
    transition: 0.6s ease-in-out !important;
    padding: 10px;
    border-radius: 40px !important;
    background-color: rgb(219, 219, 219) !important;
    opacity: 1;
}

.about_slider .swiper-slide p {
    font-size: 14px !important;
    font-weight: 400 !important;
}

.testimonail_div .swiper-pagination-bullet-active {
    background-color: var(--color1) !important;
    transition: 0.6s ease-in-out !important;

    padding: 10px 20px;
    border-radius: 40px !important;
}

/* SWIPER CSS END  */